<% var title = 'Profile' %>
<% include head.ejs %>

<h1> Bienvenue <%=nom %> <%=prenom %> </h1>
<br/>
<img src=<%=profilepic %> />
<br/>
<a href="/paint">Painture</a>
<br/>
<a href="">Déconnexion</a>

<% include foot.ejs %>