<% var title = 'Profile' %>
<% include head.ejs %>

<script>
    if('<%= id %>' == "")
        document.location.href="login";
    document.write("<h1>Bienvenue <%= nom %> <%= prenom %></h1>");
    document.write("<img src=<%= profilepic %> />");
    document.write("<br/>");
    document.write("<a href='/paint'>Painture</a>");
    document.write("<br/>");
    document.write("<a href='/modification'>Modifier le compte</a>");
    document.write("<br/>");
    document.write("<a href='/suppression'>Supprimer le compte</a>");
    document.write("<br/>");
    document.write("<a href='/logout'>Déconnexion</a>");
</script>

<% include foot.ejs %>